{% load i18n future pages_tags staticfiles %}
{% spaceless %}
    <ul class="nav navbar-nav navbar-right">
        <li><div class="triangle"></div><a href="#o_nas">{% trans 'about' %}</a></li>
        <li><div class="triangle"></div><a href="#co_robimy">{% trans 'what we do' %}</a></li>
        <li><div class="triangle"></div><a href="#realizacje">{% trans 'realisations' %}</a></li>
        <li><div class="triangle"></div><a href="#kontakt">{% trans 'contact' %}</a></li>
     </ul>
{% endspaceless %}
